$text-color: #C4E0E2
$background: #181D27
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap')
$main-font: 'Noto Sans KR', sans-serif
  
.about
  // top: 10em
  // font-family: 'Merriweather', serif
  // color: white


.about-header
  background-color: #f5f8fa
  opacity: .9
  // display: block
  padding-left: 2rem
  padding-right: 2rem
  padding-top: 2rem
  padding-bottom: 2rem
  border-color: rgba(0,0,0,.125)
  border-style: solid
  border-width: 1px
  // align-items: center



.about-header-icon
  display: inherit
  height: 150px
  width: 150px
  border-radius: 50%
  border-width: 1px
  margin-left: auto
  margin-right: auto
  padding: 10px
  color: rgba(0,0,0,.125)
  border-style: solid

.about-main
  background-color: white
  border-color: rgba(0,0,0,.125)
  // border-bottom: 1px
  border-width: 1px
  border-style: solid

.container
  display: inline-block
  max-width: 42em
  padding: 2rem
  margin-left: auto
  margin-right: auto
  text-align: left
  // box-sizing: border-box

.content
  float: left
  margin-left: -1rem
  margin-right: -1rem

.col-aboutme
  display: block
  float: left
  width: 75%
  box-sizing: border-box
  padding-left: 1em
  padding-right: 1em


.col-contact
  display: block
  box-sizing: border-box
  width: 25%
  padding-left: 1em
  padding-right: 1em
  float: left

@media only screen and ( max-width:  710px)
  .col-contact, .col-aboutme
    width: 100%

  

.m
  margin-top: 0
  margin-bottom: 1em
  font-family: $main-font

div > .about
  font-family: $main-font
  text-align: center

h1
  font-size: 3em
  font-weight: 500
  margin-top: 0
  line-height: 1.3em
  margin-bottom: .5rem

h2
  font-size: 1.7rem
  font-weight: 300
  margin-top: 0
  margin-bottom: 0
  opacity: .56
  line-height: 1.2em

img
  max-width: 100%
  
  

 