$text-color: #C4E0E2
$background: #181D27
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap')
$main-font: 'Noto Sans KR', sans-serif
  
.about
  // top: 10em
  // font-family: 'Merriweather', serif
  // color: white


.about-header
  background-color: #f5f8fa
  opacity: .9
  padding-left: 2rem
  padding-right: 2rem
  padding-top: 2rem
  padding-bottom: 2rem
  border-color: rgba(0,0,0,.125)
  border-style: solid
  border-width: 1px



.about-header-icon
  display: inherit
  height: 150px
  width: 150px
  border-radius: 50%
  border-width: 1px
  margin-left: auto
  margin-right: auto
  padding: 10px
  color: rgba(0,0,0,.125)
  border-style: solid

.about-main
  background-color: white
  border-color: rgba(0,0,0,.125)
  // border-bottom: 1px
  border-width: 1px
  // border-style: solid

.container
  display: inline-block
  max-width: 44em
  padding: 2rem
  margin-left: auto
  margin-right: auto
  text-align: left
  // box-sizing: border-box

.content
  float: left
  margin-left: -1rem
  margin-right: -1rem

.col-aboutme
  display: block
  float: left
  width: 73%
  box-sizing: border-box
  padding-left: 1em
  padding-right: 1em


.col-contact
  display: block
  box-sizing: border-box
  width: 27%
  padding-left: 1em
  padding-right: 1em
  float: left

@media only screen and ( max-width:  710px)
  .col-contact, .col-aboutme
    width: 100%


.m
  margin-top: 0
  margin-bottom: 1em
  font-family: $main-font

div > .about
  font-family: $main-font
  text-align: center

h1
  font-size: 4.5em
  font-weight: 500
  margin-top: 0
  font-family: SIMPLICIFA, serif
  // font-size: 5em
  line-height: 1.3em
  margin-bottom: .5rem

h2
  font-size: 1.7rem
  font-weight: 300
  margin-top: 0
  margin-bottom: 0
  opacity: .56
  line-height: 1.2em

#resume-btn
  margin: 1em
  letter-spacing: .1em
  color: $background
  background-color: white
  border-color: $background
  border-radius: 5px
  margin-bottom: 1.825em
  &:hover
    color: $text-color
    background-color: $background
    transition: .2s ease
    cursor: pointer

h4
  font-family: SIMPLICIFA, serif
  font-size: 3em
  margin: 0
  padding: 5px

span
  font-family: $main-font
  font-size: .65em
  padding-left: .25em
  padding-right: .75em
  


.socials-links
  font-size: 1.75em
  display: inline-block
  text-decoration: none

a
  text-decoration: none
  color: $background
  transition:  color .1s ease-in-out
  &:hover
    color: #2098d1
    transition:  color .1s ease-in-out


img
  max-width: 100%
  
  

 