// $backgroundImagePath: url('images')

$text-color: #C4E0E2

.hero
    position: relative
    height: 100vh
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    background: radial-gradient(circle, transparent, #181D27 200%)
    mix-blend-mode: difference

.hero::before
    content: ''
    position: absolute
    // background-image: url(#{$backgroundImagePath}/background.jpg)
    background-image: url('/img/background.jpg')
    background-size: cover 
    background-position: center bottom
    // background-size: 110%
    // background-repeat: no-repeat
    top: 0px
    right: 0px
    bottom: 0px
    left: 0px
    opacity: .65
    overflow: hidden
    margin-top: 0px

.hero h1 
    letter-spacing: .15em
    position: absolute
    color: $text-color
    font-size: clamp(2.5rem,10vw,8rem)
    line-height: 0.9
    text-align: center
    // opacity: .85
    
.hero p
    position: relative
    color: $text-color
    font-size: clamp(1rem,5vw,2.5rem)
    line-height: 0.9
    text-align: center
    opacity: .85
 


