body 
    background-color: #000000
    font-family: Arial, sans-serif
    line-height: 1.5
    margin: 0  
    // font-size: 0em


body::-webkit-scrollbar
    width: .8em

body::-webkit-scrollbar-track 
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)

body::-webkit-scrollbar-thumb 
    background-color: darkgrey
    outline: 2px solid slategrey


// html, body
//   margin: 0  
//   padding: 0  